[Unit]
Description=Run FSL-Retho
Wants=NetworkManager.service
After=NetworkManager.service


[Service]
Type=simple
WorkingDirectory=/opt/fslretho
ExecStart=/usr/bin/R -e "fslretho::main()"
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

