[Unit]
Description=Run FSL-Retho
Wants=NetworkManager.service
After=NetworkManager.service


[Service]
Type=simple
WorkingDirectory=/1TB/Cloud/Lab/Gitlab/fslretho
ExecStart=/usr/bin/Rscript ./inst/app/app.R
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target

