[submodule "inst/dependencies/scopr"]
	path = inst/dependencies/scopr
	url = git@github.com:shaliulab/scopr
[submodule "inst/dependencies/sleepr"]
	path = inst/dependencies/sleepr
	url = git@github.com:shaliulab/sleepr
[submodule "inst/dependencies/behavr"]
	path = inst/dependencies/behavr
	url = git@github.com:shaliulab/behavr
[submodule "inst/inst/dependencies/damr"]
	path = inst/dependencies/damr
	url = git@github.com:shaliulab/damr
[submodule "inst/inst/dependencies/ggetho"]
	path = inst/dependencies/ggetho
	url = git@github.com:shaliulab/ggetho
[submodule "inst/inst/dependencies/esquisse"]
	path = inst/dependencies/esquisse
	url = git@github.com:shaliulab/esquisse
