/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {c
  overflow: hidden;
  background-color: #f1f1f1;
}


body {
  /* background-color: brown; */
  margin-top: 1em;
  /* width: 100%; */
  
  margin-left: 5em;
  margin-right: 5em
}


.fsl-retho-plot-module {
  border: 10px red solid;
  margin: 20px;
  padding: 20px
}


div.ui.fixed#doc_menu {
  background-color: red;
  display: inline-block !important;
}

div.three.fields>div.fsl-retho-field {
  width: 30%;
}

.shiny-output-error-validation {
  color: red;
  font-size: 20px;
  font-weight:bold;
}

div.time_filter {
  background-color: white;
}

.ui.menu .item div.field .input input {
  color: black;
}

div.ui.grid {
  font-size: larger;
}

div.ui.grid div.row {
  margin-top: 70px;
}

div.field div.mysidemenu {
  border-radius: .28571429rem;
  padding: 20px;
  margin: 20px;
  margin-top: 0px;
  border-width: 6px;
  border-style: solid;
}

div.field div.time_filter {
  border-color:  blue
}

textarea#character_filter {
  height: 250px;
}

div.field div#cf {
  border-color:  gray
}

.doc_container {
  border: none;
}

div.ui.left.vertical.sidebar.menu {
   margin: 30px !important;
   margin-top: 100px !important;
   background-color:#ffffff;
   border: none !important;
   box-shadow: none !important;
}

div.pusher {
  margin: 30px !important;
  margin-top: 100px !important;
  width: 85%;
}

div.side_by_side {
  width: 49%;
  margin: 5px;
  padding: 5px;
}

div.ui.info.message.side_by_side {
  float:right;
}

div.ui.form.side_by_side {
  float:left;
}

div.form_and_help {
  height: 500px;
}

div.invisible {
  display: none;
}

iframe.doc_container {
  width: 100%;
  height: -webkit-fill-available;
}

iframe body {
  border: none;
}


div.ui.fixed#doc_menu {
  display: block;
}

div#doc_menu {
  background-color: red;
  padding: 10px;
  margin-top: 10px;
}

div.fluid-row#header {
  display: none;
}
div#doc_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div#doc_menu li {
  float: left;
}

div#doc_menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
div#doc_menu li a:hover {
  background-color: #111;
}